#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"

#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

IDB_MYIMAGE             BITMAP                  "resources\\myimage.bmp"

#endif

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

IDI_APP_ICON            ICON                    "WindowsPlayer.ico"
1                       RT_MANIFEST             "WindowsPlayer.manifest"

#endif



#ifndef APSTUDIO_INVOKED

#endif    // not APSTUDIO_INVOKED

